{
	"printWidth": 120,
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"quoteProps": "preserve",
	"trailingComma": "none",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"endOfLine": "lf",
	"importOrder": [
		"^react$",
		"^next(.*)$",
		"^recoil|framer-motion$",
		"^atoms|core/(.*)|hooks|lib|utils$",
		"^components/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
